{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'members/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="logo-title-section">
        <p>register account</p>
        <div class="image">
            <img src="../../media/images/logo%202.png"/>
        </div>
    </div>
    <div class="form-section">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <button class="btn btn-secondary">Sign up
            </button>
        </form>
        <a href="http://localhost:3000/">Log in </a>

    </div>
</div>


</body>
</html>