$projectOrangeColor: rgba(231, 130, 0, 0.91);
$projectNavyColor: #092aa5;

body {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 10px;

  .logo-title-section {
    text-align: center;

    p {
      text-transform: uppercase;
      color: $projectNavyColor;
      //color: red;
      font-size: 1.5rem;
      font-family: Roboto, sans-serif;
      letter-spacing: 1px;
      margin-bottom: 0;

    }

    .image {
      width: 50%;
      margin: 0 auto;
      @media (max-width: 900px) {
        width: 80%;

      }
      @media (max-width: 400px) {
        width: 90%;

      }

      img {
        object-fit: fill;
        transform: scale(1.3);
        @media (max-width: 500px) {
          transform: scale(1);
        }
      }

    }
  }

  .form-section {
    padding: 20px 20%;

    @media (max-width: 500px) {
      padding: 20px;
      font-family: Roboto, sans-serif;
    }

    form {
      display: flex;
      flex-direction: column;

      br {
        display: none;
      }

      ul, span {
        font-size: 0.9rem;
        color: $projectOrangeColor;
        margin-bottom: 15px;
        @media(max-width: 500px) {
          font-size: 0.7rem;

        }
      }

      label {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $projectNavyColor;
        font-size: 1.3rem;
        margin-bottom: 10px;
        @media(max-width: 500px) {
          font-size: 1rem;
          margin-bottom: 5px;

        }
      }

      input {
        padding: 15px;
        background-color: $projectOrangeColor;
        border: none;
        color: $projectNavyColor;
        font-size: 1rem;
        border-radius: 4px;

        &:focus {
          outline: none;
          background-color: rgba(231, 130, 0, 0.5)
        }

        @media(max-width: 500px) {
          padding: 10px;
        }

      }

      button {
        margin-top: 20px;
        padding: 20px;
        background-color: $projectNavyColor;
        color: $projectOrangeColor;
        text-transform: uppercase;
        border: none;
        letter-spacing: 1px;
        border-radius: 4px;
        font-size: 1.3rem;
        @media(max-width: 500px) {
          padding: 10px;
        }

        &:hover {
          color: #fff;
        }

        &:focus {
          outline: none;

        }
      }
    }
  }
  .sign-in{
    text-align: center;
    button{
      padding: 20px;
      border: none;
      background-color:  $projectOrangeColor;
      color: $projectNavyColor;
      width: 200px;
      text-transform: uppercase;
      font-size:1.5rem ;
      &:hover{
        color: white;
      }

    }
  }
}